<% content_for(:title, "Hello from my Home") %>
<div class="container">
  <h4>This site demonstrates interacting with a Mongo database backend from a 
  Rails application. 
  
  To get started, access the /d3 url from here.</h4>
  <br>
  Or click <a href="/d3">here</a>
</div>
